*{  margin: 0;padding: 0; }
body{
    font-size: 12px;
}
img{border: none;}
ul,li{list-style: none;}

/*header区域*/
#header{
    position: relative;
    width: 950px;
    height: 60px;
    margin: 0 auto;
    padding-top: 30px;
}
#header .header-logo{
    position: absolute;
    display: block;
    width: 190px;
    height: 60px;

}

#header .header-logo:hover{
    background: none;

}
#header div .header-ipt{
    position: absolute;
    width: 264px;
    height: 30px;
    line-height: 30px;
    top: 30px;
    left: 184px;
    border: 1px solid #c3c3c3;
    color: #c3c3c3;
    padding-left: 6px;
}
#header div .header-ipt:focus{
    outline: none;
}
#header div a{
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    top:32px;
    left: 425px;
}
#header div a img{
    position: absolute;
    left: 8px;
    top: 8px;
}
#header div a:hover{
    background: none;
}
#header ul {
    position: relative;
    left: 487px;
    width: 494px;
    height: 20px;
    padding-top: 6px;
}
#header ul li{
    float: left;
    padding-right: 24px;
}
#header ul li:last-child{    padding-right: 0;}
#header ul li a{
    width: 40px;
    height: 20px;
    display: block;
}
#header ul li .header-read{  background: url("img/anony_nav_logo5.png") 0 0 no-repeat;  }
#header ul li .header-movie{  background: url("img/anony_nav_logo5.png") -60px 0 no-repeat;  }
#header ul li .header-music{  background: url("img/anony_nav_logo5.png") -120px 0 no-repeat;  }
#header ul li .header-group{  background: url("img/anony_nav_logo5.png") -180px 0 no-repeat;  }
#header ul li .header-city{  background: url("img/anony_nav_logo5.png") -340px 0 no-repeat;  }
#header ul li .header-fm{
    width: 80px;
    background: url("img/anony_nav_logo5.png") -240px 0 no-repeat;
    height: 20px;}
#header ul li .header-something{  background: url("img/anony_nav_logo5.png") -400px 0 no-repeat;  }
/*header区域结束*/



/*登录区域*/
#login-background {
    width: 100%;
    height: 181px;
    background-color: #e8edf1;
}
#login-background #login-content{
    position: relative;
    width: 950px;
    margin: 0 auto;
}
#login-background #login-content .login-left{
    width: 502px;
    padding-top: 30px;
    background: url("img/doubanapp.png") no-repeat;
    position: absolute;
    left: 40px;
    top: 30px;
    height: 120px;
}
#login-background #login-content .login-left .login-left-app{
    position: absolute;
    left: 240px;
    top: 9px;
    width: 220px;
    height: 120px;
}
#login-background #login-content .login-left .login-left-app p{
    font-size: 22px;
    color: #666;
}
#login-background #login-content .login-left .login-left-app b{
    top:36px;
    font-size: 14px;
    color: #666;
    position: absolute;
    font-weight: 400;
}
#login-background #login-content .login-left .login-left-app a{
    width: 133px;
    height: 30px;
    display: block;
    color: #FFF;
    background-color: #3ca353;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 72px;
    border-radius: 3px;
}
#login-background #login-content .login-left .login-left-app .login-left-app-pic{
    position: absolute;
    left: 138px;
    top: 72px;
    display: block;
    width: 28px;
    height: 28px;
}
#login-background #login-content .login-left .login-left-app .login-left-app-pic img{
    width: 100%;height: 100%;
    border: 1px solid #bbc1c6;
}
#login-background #login-content .login-left .login-left-app .login-left-app-pic #app-show{
    border: 1px solid #bbc1c6;
    padding: 20px;
    width: 160px;
    height: 160px;
    position: absolute;
    top :0;
    left: 0;
    background-color: #FFF;
    display: none;
}
#login-background #login-content .login-left .login-left-app .login-left-border{
    height: 80px;
    width: 20px;
    border-left:1px solid #d7dce1;
    position: absolute;
    left: 220px;
    top: 5px;
}
#login-background #login-content .login-right{
    position: absolute;
    width: 280px;
    height: 150px;
    left:560px;
    top: 18px;
}
#login-background #login-content .login-right .email{
    width: 168px;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    color: #CCC;
    border: none;
    outline: none;
}
#login-background #login-content .login-right .password{
    width: 168px;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    color: #CCC;
    position: absolute;
    top: 44px;
    left: 0;
    border: none;
    outline: none;
}
#login-background #login-content .login-right a{
    position: absolute;
    top: 56px;
    left: 189px;
}
#login-background #login-content .login-right .checkbox{
    position: absolute;
    left: 0;
    top: 93px;
    width: 100px;
}
#login-background #login-content .login-right .checkbox input{
    width: 13px;
    height: 13px;
    margin-right: 5px;
    float: left;
}
#login-background #login-content .login-right .checkbox input p{
    position: absolute;
    top: -2px;
}
#login-background #login-content .login-right .login{
    width: 70px;
    height: 30px;
    background-color: #3ba354;
    position: absolute;
    left: 0;
    top:118px;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border-radius: 3px;
}
#login-background #login-content .login-right .login:hover{ background: #1c9439; }
#login-background #login-content .login-right .reg{
    width: 70px;
    height: 28px;
    position: absolute;
    border: 1px solid #ef735f;
    color: #ef735f;
    left: 80px;
    top:118px;
    text-align: center;
    line-height: 28px;
    border-radius: 3px;
}
#login-background #login-content .login-right .reg:hover{background: none;}
/*登录区域结束*/
/*banner区域*/
.midel-banner-flag{
    margin: 35px auto 0;
    width: 950px;
}
/*banner区域结束*/
/*热门内容*/
#hot-content{
    position: relative;
    width: 950px;
    height: 536px;
    margin:  0 auto;
}
#hot-content .title-h2-flag{
    padding-top: 8px;
}
#hot-content .hot-content-left{
    width: 370px;
    position: absolute;
    left: 0;
    top: 40px;
}
#hot-content .hot-content-left li{
    width: 180px;
    height: 218px;
    float: left;
}
#hot-content .hot-content-left li div{
    width: 160px;
}
#hot-content .hot-content-left li .hot-content-left-pic:hover{
    background: none;
}
#hot-content .hot-content-left  li .hot-content-left-picname{
    width: 156px;
    line-height:18px;
}
#hot-content .hot-content-left li span{
    position: relative;
    left: 5px;
    color: #999999;
}
#hot-content .hot-content-middle{
    position: absolute;
    left: 380px;
    top: 45px;
    width: 280px;
    height: 400px;
}
#hot-content .hot-content-middle div p{
    color:#666666 ;
}
#hot-content .hot-content-middle span{
    display: block;
    color: #999999;
    margin-top: 7px;
}
#hot-content .hot-content-middle p{
    margin-top: 7px;
}
#hot-content .hot-content-middle .midel-ul{
    margin-top: 19px;
}
#hot-content .hot-content-middle .midel-ul li{
    margin-bottom: 19px;
}
#hot-content .hot-content-right{
    position: absolute;
    left: 686px;
    top: 16px;
}
#hot-content .hot-content-right .title-h2-flag{
    position: absolute;
    left: 0 ;
}
#hot-content  .hot-content-right .picflag:hover{
    background: none;
}
#hot-content .hot-content-right h2{
    position: absolute;
    top: 123px;
}

#hot-content .hot-content-right span{
    color: #666;
    font-size: 12px;
}
#hot-content .hot-content-right ul{
    position: absolute;
    top: 154px;
    left: 0;
}
#hot-content .hot-content-right ul li {
    margin-bottom: 16px;
}
#hot-content .hot-content-right ul span{
    display: block;
    margin-top: 10px;
}
#hot-content .hot-content-right ul p{
    margin-top: 7px;
    color: #999999;
}
/*热门内容结束*/
/*电影区*/
#movie-background{
    position: relative;
    width: 100%;
    height: 719px;
    padding-top: 39px;
    background: #f7f7f7;
}
#movie-background .movie-content{
    position: relative;
    width: 950px;
    margin: 0 auto;
}

#movie-background .movie-content .middle ul{
    width: 540px;
    position: absolute;
    left: 17px;
    top: 36px;
}
#movie-background .movie-content .middle ul li{
    width: 117px;
    height: 264px;
    float: left;
    position: relative;
}
#movie-background .movie-content .middle ul li div{
    text-align: center;
    width: 100px;
    top: 159px;
    position: absolute;
}
#movie-background .movie-content .middle ul li .pic:hover{
    background: none;
}
#movie-background .movie-content .middle ul li div{
    position: absolute;
    left: 0;
}
#movie-background .movie-content .middle ul li div .aflag{
    color: #333333;
    font-size: 13px;

}
#movie-background .movie-content .middle ul li div .aflag:hover{
    color: #FFF;
}
#movie-background .movie-content .middle ul p{
    display: block;
    margin-top: 10px;
    height: 11px;
    margin-left: 10px;
    background: url("img/midstars.gif")  no-repeat;
}
#movie-background .movie-content .middle ul p span{
    display: block;
    margin-left: 50px;
    color: #f40;
}
#movie-background .movie-content .middle ul .btn{
    color: #FFF;
    display: block;
    width: 68px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background: #1c8bd0;
    margin: 9px auto;
}
#movie-background .movie-content .middle ul .btn:hover{
    background: #047fcb;
}
#movie-background .movie-content .right .up ul {
    margin-top: 21px;
}
#movie-background .movie-content .right .up ul li {
    float: left;
    margin-right: 25px;
    margin-bottom: 11px;
}
#movie-background .movie-content .right .down{
    position: absolute;
    top: 203px;
    left: 0;
}
#movie-background .movie-content .right .down ul{
    margin-top: 21px;

}
#movie-background .movie-content .right .down ul li{
    font:12px Helvetica,Arial,sans-serif ;
    border-bottom: 1px solid #eaeaea;
    height: 20px;
    margin-bottom: 10px;
}
#movie-background .movie-content .right .down ul li a{
    margin-left: 8px;
}
#movie-background .midel-banner-movie{
    position: absolute;
    top: 588px;
    left: 0 ;
}
/*电影区结束*/
/*小组区域*/
#group{
    position: relative;
    width: 950px;
    height: 595px;
    margin: 39px auto 0;
}
#group a{
    color: #017a85;
}
#group a:hover{
    color: #FFF;
}
#group .middle ul{
    position: absolute;
    top:32px;
    left: 0;
}
#group .middle ul li{
    position: relative;
    float: left;
    width: 279px;
    height: 90px;
}
#group .middle ul li div{
    position: absolute;
    top :3px;
    left:64px;
}
#group .middle ul li p{
    color: #999999;
    margin-top: 13px;
}
#group .right ul {
    position: absolute;
    top: 35px;
}
#group .right ul li .righr-title{
    font-size: 14px;
    color: #333333;
}
#group .right ul .righr-title:hover{
    color: #FFF;
}
/*小组区域结束*/
/*读书区域*/
#reade-background{
    width: 100%;
    height: 655px;
    background: #f7f7f7;
}
#reade-background .reade{
    width: 950px;
    height: 617px;
    margin: 0 auto;
    position: relative;
    top: 38px;
    left: 0;
}
#reade-background .reade a{
    color: #4a2f14;
}
#reade-background .reade a:hover{
    color: #fff;
}
#reade-background .reade .reade-btn-list{
    position: absolute;
    top: 195px;
}
.reade-btn{
    background: url("img/app_icons_50_7.jpg") 0 0 no-repeat;
}
#reade-background .reade .middle ul{
    position: absolute;
    top: 36px;
    left: 0px;
}
#reade-background .reade .middle ul li{
    text-align: center;
    width: 133px;
    height: 265px;
    position: relative;
    float: left;
}
#reade-background .reade .middle ul li span {
    display: block;
    margin-top: 16px;
}
#reade-background .reade .middle ul li p{
    margin-top: 6px;
}
#reade-background .reade .middle ul li .btn{
    display: block;
    text-align: center;
    line-height: 23px;
    width: 68px;
    height: 23px;
    background: #999a95;color: #FFF;
    position: absolute;
    left: 32px;
    top: 200px;
}
#reade-background .reade .middle .down{
    position: relative;
    top: 290px;
    left: 0;
}
#reade-background .reade .middle  .down .sprice{
    margin-top: 5px;
    color: #999a95;
}
#reade-background .reade .middle  .down  .btn{
    position: absolute;
    top: 220px;
}
#reade-background .reade .right ul{
    position: absolute;
    top: 21px;
    left: 0;
}
#reade-background .reade .right ul li{
    width: 260px;
    height: 45px;
    padding-top: 15px;
    border-bottom: 1px solid #eaeaea;
}
#reade-background .reade .right ul span{
    color: #999a95;
}
#reade-background .reade .right ul a{
    margin-right: 14px;
    line-height: 1.8em;
}
/*读书区域结束*/

/*音乐区域*/
#music{
    position: relative;
    width: 950px;
    height: 606px;
    margin: 39px auto 0;
}
#music a{
     color: #555d53;
 }
#music a:hover{
    color: #FFF;
}
#music .left  .title-big{
    color: orange;
}
#music .left  .title-big:hover{
    color: #FFF;
}
#music .left .music-btn-list{
    position: absolute;
    left: 0;
    top: 325px;
}
#music .left .music-btn-list li .music-fm{
    background: url("img/app_icons_50_7.jpg") -250px 0 no-repeat;
}
#music .left .music-btn-list li .music-per{
    background: url("img/app_icons_50_7.jpg") -50px 0 no-repeat;
}
#music .middle .up ul {
    position: absolute;
    left: 0px;
    top: 35px;
}
#music .middle .up ul li{
    width: 136px;
    height: 193px;
    text-align: center;
    position: relative;
    float: left;
}
#music .middle .up ul li .imgA{
    width: 80px;
    height: 80px;
}
#music .middle .up ul li .music-name {
    margin-top: 13px;
    margin-bottom: 10px;
}

#music .middle .up ul li .star-img {
    display: block;
    width: 55px;
    height: 11px;
    margin-top: 6px;
    margin-left: 25px;
    background: url("img/midstars.gif") 0 0 no-repeat;
}
#music .middle .up ul li .star-img span{
    color: #ff4457;
    position: absolute;
    left: 89px;
}
#music .middle .down{
    position: absolute;
    left: 0;
    top: 405px;
}
#music .middle .down ul{
    position: absolute;
    top: 31px;
    left: 0;
    width: 550px;
}
#music .middle .down ul li {
    position: relative;
    width: 136px;
    height: 150px;
    text-align: center;
    float: left;
}
#music .middle .down ul li p{
    margin-top: 18px;
}
#music .middle .down ul li .star-move{
    position: absolute;
    left: 44px;
    top: 18px;
}
#music .right ul{
    position: absolute;
    left: 0;
    top:36px ;
}
#music .right ul li{
    width: 300px;
    height: 77px;
    position: relative;
}
#music .right ul li div span{
    position: absolute;
    left: 0;
    top: 0;
}
#music .right ul li div .imgA{
    position: absolute;
    top:0;
    left: 19px;
}
#music .right ul li .righr-div{
    position: absolute;
    left: 77px;
    width: 220px;
    height: 60px;
}
#music .right ul li .righr-div img:hover{
    background: #000;
}
#music .right ul li .righr-div a{
    position: absolute;
    top: 4px;
    display: block;
}
#music .right ul li .righr-div  p{
    position: absolute;
    top: 27px;
    width: 200px;
    height: 30px;
    color: #999999;
}
#music .right ul li .righr-div  p span{
    padding-left: 30px;
    display: block;
}
#music .right ul li .righr-div  b{
    font-weight: 400;
    color: #999999;
    position: absolute;
    top: 47px;
    left: 0;
}
/*音乐区域结束*/
/*市集区域*/
#shiji-background{
    position: relative;
    width: 100%;
    height: 704px;
    background-color: #f7f7f7;
}
#shiji-background #shiji{
    position: relative;
    width: 950px;
    height: 665px;
    margin: 0 auto ;
    top: 39px;
    left: 0;
}
#shiji-background #shiji .left ul li a{
    color: #343434;
}
#shiji-background #shiji .left ul li a:hover{
    color: #FFF;
}
#shiji-background #shiji .middle .middle-left{
    position: absolute;
    top: 46px;
    left: 0;
    width: 255px;
    height: 600px;
}
#shiji-background #shiji .middle .middle-left li{
    width: 252px;
    height: 302px;
    position: relative;
}
#shiji-background #shiji .middle .middle-left li div{
    position: absolute;
    left:0;
    top: 260px;
    width: 250px;
}
#shiji-background #shiji .middle .middle-left li div a{
    font-size: 14px;
}
#shiji-background #shiji .middle .middle-left li div span{
    position: absolute;
    right: 0px;
    font-size: 14px;
    color: #6a6a6a;
}
#shiji-background #shiji .middle .middle-right{
    position: absolute;
    top: 47px;
    left: 270px;
}
#shiji-background #shiji .middle ul  li{
    float: left;
    width: 132px;
    height: 140px;
}
#shiji-background #shiji .middle ul  li .middle-right-title{
    width:100px;
    display:block;
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;

}
#shiji-background #shiji .middle .middle-right-2{
    position: absolute;
    top: 351px;
    left: 270px;
}
#shiji-background #shiji ul{
    position: absolute;
    left: 0;
    top:46px;
}
#shiji-background #shiji .right  ul li {
    position: relative;
    width: 270px;
    height: 77px;
}
#shiji-background #shiji .right  ul li div{
    position: absolute;
    left: 75px;
    top: 5px;
}
#shiji-background #shiji .right  ul li div p{
    color: #6a6a6a;
}
/*市集区域结束*/
/*一拍一*/
#one-to-one{
    position: relative;
    width: 950px;
    height: 642px;
    margin: 0 auto;
}
#one-to-one a{
    color: #837960;
}
#one-to-one .left{
    position: absolute;
    margin-top: 38px;
}
#one-to-one .left .title-big{
    color: #ff6666;
}
#one-to-one .left .title-big:hover{
    color: #FFF;
}
#one-to-one .middle{
    position: absolute;
    margin-top: 38px;
}
#one-to-one .middle .middle-up ul{
    position: absolute;
    left: 0;
    top: 37px;

}
#one-to-one .middle  ul li{
    width: 275px;
    height: 260px;
    position: relative;
    float: left;
}
#one-to-one .middle  ul a,#one-to-one .middle .middle-up ul span{
    font-size: 14px;
}
#one-to-one .middle  ul a:hover{
    background: none;
}
#one-to-one .middle  ul span{
    position: absolute;
    right:11px;
    color: #b2a599;
}
#one-to-one .middle .middle-down .title-h2{
    position: absolute;
    left: 0;
    top: 306px;

}
#one-to-one .middle .middle-down ul{
    position: absolute;
    left: 0;
    top: 337px;

}
#one-to-one  .right{
    position: absolute;
    margin-top: 38px;
}
#one-to-one  .right ul{
    position: absolute;
    top: 40px;
}
#one-to-one  .right ul li{
    position: relative;
    width: 263px;
    height: 76px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 14px;
}
#one-to-one  .right ul li p{
    color: #999999;
    font-size: 14px;
}
#one-to-one  .right ul li div{
    position: absolute;
    top: 28px;
}
#one-to-one  .right ul li div a{
    float:left;
    margin-right: 26px;
    margin-bottom: 0.6em;
}
#one-to-one  .right ul li div a:hover{
    color: #FFF;
}
#one-to-one  .right .weixin{
    position: absolute;
    top: 246px;
    left: 6px;
}
#one-to-one  .right .weixin p{
    color:#555555;
}
/*一拍一区域*/

/*同城区域*/
#city-background{
    width: 100%;
    height: 380px;
    background-color: #f7f7f7;
    position: relative;
}
#city-background #city{
    position: relative;
    margin: 0 auto;
    width: 950px;
    height: 340px;
    top: 40px;
}
#city-background #city a{
    color: #664433;
}
#city-background #city a:hover{
    color: #FFF;
}
#city-background #city .left .title-big{
    color: #ff6666;
}
#city-background #city .left .title-big:hover{
    color: #fff;
}
#city-background #city .middle .up{
    position: absolute;
    top: 36px;
    left: 0;
}
#city-background #city .middle ul li{
    position: relative;
    width: 270px;
    height: 155px;
    float: left;
}
#city-background #city .middle ul li div{
    width: 170px;
    height: 125px;
    position: absolute;
    left: 82px;
    top: 0;
}
#city-background #city .middle ul li div p{
    color: #666666;
    margin-top: 6px;
}

#city-background #city .middle .down{
    position: absolute;
    top: 192px;
    left: 0;
}

#city-background #city .middle .down span{
    display: block;
    width: 54px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    border-radius: 5px;
    background: #ff8263;
    color: #FFF;
    margin-top: 5px;
}
#city-background #city .right  ul{
    position: absolute;
    top: 40px;
    left: 0;
    width: 250px;
    height: 270px;
}
#city-background #city .right  ul li{
    width: 250px;
    height: 54px;
    position: relative;
}
#city-background #city .right  ul li .righr-title{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
}
#city-background #city .right  ul li .right-list-a{
    position: absolute;
    top: 15px;
    left: 0;
}
#city-background #city .right  ul li .right-list-a a{
    margin-right: 10px;
}
/*同城区域结束*/

/*底部区域*/
#foot{
    position: relative;
    width: 100%;
    height: 300px;
    margin:  0 auto;
    top: 30px;

}
#foot .btn-img{
    width: 950px;
    margin:  0 auto;
}
#foot .btn-cont{
    position: relative;
    top: 36px;
    left: 0;
    width: 950px;
    margin: 0 auto;
    border-top:1px dashed #CCC ;

}
#foot .btn-cont .btn-left{
    position: absolute;
    top: 19px;
}
#foot .btn-cont .btn-left p{
    color: #999;
    font: 12px Helvetica,Arial,sans-serif;
}
#foot .btn-cont .btn-left p.gongwang{
    margin-top: 3px;
    border: 1px solid red;
}
#foot .btn-cont .btn-right{
    position: absolute;
    right: 0;
    top: 19px;
}
#foot .btn-cont .btn-right ul li{
    float: right;
    margin-left: 10px;
}
/*底部区域结束*/







/*共公样式*/
a{
    text-decoration: none;
    color: #3377aa;
}
a:hover{
    background-color: #3377aa;
    color: #FFF;
}
.midel-banner{
    width: 950px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}
.title-h2{
    color: #072;
    font: 15px Arial,Helvetica,sans-serif;
    font-weight: 400;
}
.title-h2 span{
    color: #666;
    font-size: 12px;
}
.left{
    position: absolute;
    left: 0;
    top: 0;
    width: 121px;
}
 .left ul{
    position: absolute;
    top: 42px;
    left: 0;
     width: 95px;
}
 .left ul li a{
    font-size: 14px;
}
 .left ul li{
    margin-bottom: 13px;
}
.middle{
    position: absolute;
    left: 121px;
    top:0;
    width: 566px;
}
.right{
    position: absolute;
    left: 686px;
    top:0;
    width: 265px;
}
.title-big{
    font-size: 24px;
    color: #2277aa;
    cursor: pointer;
}
/*右侧列表的a*/
.right-list-a{
    float: left;
    margin-top: 6px;
    margin-bottom: 12px;
}
.right-list-a a{
    margin-right: 14px;
    line-height: 1.6em;
}
.imgA:hover{
    background: none;
}
.btn-list li{
    margin-bottom: 19px;
}
.btn-list li .btnimg-list{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 3px 2px 1px #cccccc;
    margin-bottom: 2px;
}
.btn-list li .btn-a{
    font-size: 12px;
}